* {
	margin: 1em;
	font-family: "Source Sans Pro", sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.box {
	width: 100%;
}

.no-access {
	cursor: no-drop;
}

body {
	background-color: #D1EAEC;
}

header {
	background-color: #D1EAEC;
	text-align: right;
}

figcaption {
	font-style: italic;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

