* {
	outline: 1px solid red !important;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
	box-sizing: border-box;
	/*margin: 1em;*/
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.box {
	width: 100%;
}

.description {
	max-width: 100%;
}

.no-access {
	cursor: no-drop;
}

.text-right {
	text-align: right;
}

body {
	background-color: #D1EAEC;
}

header {
	background-color: #D1EAEC;
	text-align: right;
}

figcaption {
	font-style: italic;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

